.swiperCarousel {
  width: calc(100% + 200px);
  margin: 0 -100px;
  padding-left: 100px;
  user-select: none;

  @media (max-width: 767px) {
    width: calc(100% + 40px);
    margin: 0 -20px;
    padding-left: 20px;
  }
}

.slideCarousel {
  max-width: 300px;
}
